<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My site{% endblock %}</title>
</head>
<body>
    <header>
        {% block pagename %}
        <h1>Главная</h1>
        {% endblock %}
    </header>

    <nav>
        {% block menu %}
        <a href="#"><h3>{{ main }}</h3></a>
        <a href="http://127.0.0.1:8000/main-page/bin-page"> <h3>{{ bin }}</h3></a>
        <a href="http://127.0.0.1:8000/main-page/shop-page"><h3>{{ shop }}</h3></a>
        <a href="http://127.0.0.1:8000/main-page/platform/news"><h3>{{ news }}</h3></a>
        {% endblock %}
    </nav>

    <footer>
        {% block content %}
        {% endblock %}
    </footer>
</body>
</html>
