<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscribes</title>
</head>
<body>
    <h1>Ваши подписки</h1>
    <h2>Вы подписаны на:</h2>
    <ul>
        <li> </li>
    </ul>
    <p></p>
    <h2>Рекомендуем подписаться: </h2>
    <ul>
        <li> <h3>4chan</h3> <button>{{ subscribe }}</button> </li>
        <li> <h3>Рифмы и панчи</h3> <button>{{ subscribe }}</button></li>
        <li> <h3>Urban University</h3> <button>{{ subscribe }}</button></li>
    </ul>
    <p></p>
    <a href="http://127.0.0.1:8000/main-page/"><h2>Вернуться на главную</h2></a>
</body>
</html>